.Card-container{
    display: flex;
    justify-content: center;
    min-width: 20vw;
    border-radius: 5%;
    background: rgba(243, 249, 255);
    margin-left: 5vw;
    max-height: 56vh;
    box-shadow: 0.5px 2px 0.5px 0px rgb(189, 186, 186);
}
.Card-container::after {
    content: "";
    position: absolute;
    background-color: rgba(245, 240, 240, 0.151);
    width: 19.5vw;
    height: 55vh;
    z-index: -1;
  }




ul li{
    text-decoration: none;
    list-style-type: none; 
}
.card-img{
  position: relative;

}
.name{
    color: blue;
    font-size: 1.7vw;

}
.card-img img{
    max-height: 11vh;
    max-width: 8vw;}
.topinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-4.8vh);
}

.stars img{
    width: 8vw;
}
.hours-number{
    font-size: 0.5vw;

}
.informations{
    padding-left: 1vw;
    transform: translateY(-4vh);
    margin: 0;
    color: rgb(70, 112, 180);
}
.informations>ul>li>p{
    font-size: 1.2vw;
}
.informations>ul>li>p>img{
    transform: translateY(1vh);
    padding-right: 1vw;
    width: 1.5vw;
    height: 3.5vh;
    max-width: 20px;
}
.card-description{
    transform: translateY(-4vh);
    min-height: 80px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
.first-desc{
    color: rgb(70, 112, 180);
    font-size:1.4vw;
    font-family: Poppins,sans-serif;
    padding-bottom: 5px;
}
.second-desc{
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 0.589);
    text-align: inherit;
}
.card-button{
    display:inline-block;
    padding:0.6vh 1.2vw;
    margin:0 0.3vh 0.3vh 0;
    border-radius:2vh;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:#382bee;
    text-align:center;
    transition: all 0.2s;
}
.card-button{
    position: absolute;
    bottom: -48%;
    right: 32%;
}