.Sidebar{
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 247);
    min-width: 30vw;
    width: 30vw;
}
.process{
    padding-left: 4vw;
    margin-top: 4vh;
}
.process > ul li{
    text-decoration: none;
    list-style-type: none; 
    padding-top: 3.5vh;
    font-size: 2.2vw;
}
.process > ul>li>p>img{
    height: 2vw;
}
.process > ul li p{
    font-style: inherit;
   color: rgb(54, 95, 230);
    font-weight: 200;
    padding-left: 0;

}
.logo  >img{
    padding-top: 3vh;
    padding-left: 2.5vw;
    height: 8vh;
    max-width: 10vw;
}
.bottom-img{
    padding-left: 2.5vw;
    transform: translateY(30vh);
}
.bottom-img > img{
    height:20vh;
    width: 20vw;
    max-width: 40vw;
}
.points{
    font-size: 1.2vw;
    padding-left: 1vw;
}
